@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-color1: #f97316;
  --color-color2: #4722f5;
  --color-color3: #0ea52f;
  --color-color4: #08641a;
  --color-color5: #ffbf32;

  --color-gray1: #d1d0d5;
  --color-gray2: #6c6d6e;
  --color-gray3: #f4f5f7;
  --color-gray4: #b9bebe;

  --font-sans: "Poppins", sans-serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
}
